{% extends 'base.html.twig' %} 

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags("offer") }}
{% endblock %}

{% block body %}
<div class="offer-body">
	<h1>{{ offer.title }}</h1>
	<section>{{ offer.description }}</section>
</div>
{% endblock %}