:root
{
	--font: "arial";
	--background-header: rgba(150, 150, 150, 1);
	--background-tab: rgba(120, 120, 120, 1);
}
*
{
	box-sizing: border-box;
}
html
{
	height: 100%;
}
body
{
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	margin: 0px;
}
.header
{
	display: flex;
	flex: 0 0 35px;
	background: var(--background-header);
}
.header-logo
{
	flex: 1 0 0;
	width: 31px;
	height: 31px;
	margin: 2px 0px 2px 3px;
}
.header-account
{
	display: flex;
	flex-flow: row nowrap;
	flex: 0 0 auto;
	margin: 0px 20px 0px 0px;
}
.header-account-name
{
	font: bold 16px / 35px var(--font);
	margin: 0px 10px 0px 0px;
}
.header-account-link
{
	font: normal 16px / 35px var(--font);
}


.nav
{
	display: flex;
	flex-flow: row nowrap;
	background: var(--background-header);
}
.nav-link
{
	padding: 0px 8px;
	margin: 0px 5px;
	background: var(--background-tab);
	border: solid 1px transparent;
	border-bottom: none;
	font: normal 16px / 30px var(--font);
	text-decoration: none;
	color: #000;
}
.nav-link.active{ border-color: rgba(0, 0, 0, 1);}


.main
{
	flex: 1 0 0;
}

