.reservation-form
{
	display: flex;
	flex-flow: column nowrap;
	margin: 10px 10px 0px 10px;
}
.reservation-result
{
	margin: 0px 0px 10px 0px;
	background: rgba(0, 0, 0, 1);
	font: normal 16px / 40px var(--font);
	text-align: center;
}
.reservation-result.status-true{color: var(--color-green) }
.reservation-result.status-false{color: var(--color-red); }
@media (min-width: 992px){ .reservation-form{ width: calc(var(--width) - 20px); margin: 10px auto 0px auto; } }
.reservation-row
{
	display: flex;
	flex-flow: column nowrap;
}
@media (min-width: 576px){ .reservation-row{ flex-flow: row nowrap;} }
@media (min-width: 576px){ .reservation-row-dates{ order: 1;} }
@media (min-width: 576px){ .reservation-row-info{ order: 0;} }
@media (min-width: 576px){ .reservation-row-sheet{ order: 2;} }
.reservation-div
{
	position: relative;
}
@media (min-width: 576px){ .reservation-div{ flex: 1 0 0; } }
.reservation-label
{
	display: block;
	position: absolute;
	top: 3px; left: 5px;
	font: normal 11px / 11px var(--form-font);
	white-space: nowrap;
	overflow: hidden;
}
.reservation-input
{
	padding: 20px 0px 5px 10px;
	height: 50px;
}
@media (min-width: 576px){ .reservation-div-contact{ flex: 0 0 200px;} }
@media (min-width: 576px){ .reservation-div-book{ flex: 0 0 150px;} }
@media (min-width: 576px){ .reservation-input-checkInAt, .reservation-input-checkOutAt{ text-align: center; } }
