<section class="offers">
{% for offer in offers %}
	{# css class should be managed dynamiclly #}
	{# what if description become to long to overlay image? #}
	{# add slider to manage too many offer in one row #}
	{% set css_class = "offer-class-" ~ offer.offerId %}
	<a href="{{ path('offer', {slug: offer.slug}) }}" class="offer {{css_class}}">
		<h1 class="offer-header">{{ offer.title }}</h1>
		<p class="offer-desc">{{ offer.description|slice(0, 300) ~ '...' }}</p>
	</a>
{% endfor %}
</section>