body
{
	background: #999999;
}
h1, h2, h3
{
	margin: 0px;
	padding: 0px;
}

:root {
  --width:980px;
}

header
{
	position: relative;
	width: var(--width);
	margin: 0px auto;
}
.header-langauge-switch
{
	position: absolute;
	top: 0px; right: 0px;
	text-align: left;
	display: flex;
}
.header-langauge-switch > a
{
	border: solid 1px black;
	display: block;
	margin: 0px 5px;
	padding: 5px 10px;
}
.header-langauge-switch > a:last-child{ margin-right: 0px;}
.header-langauge-switch > a:hover{ background: red; }

.logo
{
	width: 110px;
	height: 100px;
	margin: 0px auto;
	display: block;
}

nav
{
	width: var(--width);
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: blue;
}
nav > a
{
	border: solid 1px red;
	margin: 0px 5px;
	padding: 0px 50px;
	height: 50px;
	line-height: 50px;
}
nav > a:hover
{
	background: #888888;
}


#calendar
{
	width: var(--width);
	display: flex;
	flex-direction: column;
	margin: 0px auto;
}
.calendar-inputs
{
	background: red;
	display: flex;
}
.calendar-dates
{
	background: pink;
	display: flex;
}
.calendar-amount,
.calendar-rooms
{
	flex: 1 1 0;
	height: 30px;
	padding: 0px;
	margin: 1px 0px;
}
.calendar-submit
{
	flex: 0 1 150px;
	height: 32px;
}
.calendar-from,
.calendar-to
{
	flex: 1 1 0;
	text-align: center;
	line-height: 30px;
}
.calnedar-sheet
{
	background: blue;
	display: flex;
}
.calendar-month
{
	--widthe: calc(var(--width) / 2);
	flex: 1 1 0;
}
.calendar-name
{
	text-align: center;
	border: solid 1px green;
}
.calendar-days
{
	display: flex;
	flex-wrap: wrap;
}
.calendar-day
{
	--width: calc(var(--widthe) / 7);
	--height: 50px;
	width: var(--width);
	height: var(--height);
	text-align: center;
	border: solid 1px #000;
	box-sizing: border-box;
}
.calendar-day.day-1{ margin-left: calc(var(--width) * 0); }
.calendar-day.day-2{ margin-left: calc(var(--width) * 1); }
.calendar-day.day-3{ margin-left: calc(var(--width) * 2); }
.calendar-day.day-4{ margin-left: calc(var(--width) * 3); }
.calendar-day.day-5{ margin-left: calc(var(--width) * 4); }
.calendar-day.day-6{ margin-left: calc(var(--width) * 5); }
.calendar-day.day-7{ margin-left: calc(var(--width) * 6); }

section
{
	width: var(--width);
	margin: 0px auto;
}

.offers
{
	width: var(--width);
	margin: 0px auto;
	display: flex;
}
.offers > div
{
	border: solid 1px yellow;
	flex: 1 1 0;
	height: 250px;
}

footer
{
	width: var(--width);
	margin: 0px auto;
	border-top: solid 2px #000;
}
