

.header-login-form-mock
{
	background: rgba(0, 0, 0, .1) !important;
}
.sign-in-result
{
	margin: 10px 10px;
	background: rgba(0, 0, 0, 1);
	font: normal 16px / 40px var(--font);
	text-align: center;
}
@media (min-width: 992px){ .sign-in-result{ width: calc(var(--width) - 20px); margin: 10px auto 10px auto; } }
.sign-in-result.status-false{color: var(--color-red); }
.sign-in-header
{
	width: 300px;
	margin: 30px auto 5px auto;
	text-align: center;
	border-bottom: solid 1px #000;
}
.sign-in-form
{
	width: 270px;
	margin: 0px auto;
}
