{% extends "panel.html.twig" %} 

{% block stylesheets %}
	{{ parent() }}
	{# {{ encore_entry_link_tags("admin.accommodations") }} #}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{# {{ encore_entry_script_tags("admin.accommodations") }} #}
{% endblock %}

{% block body %}
<section class="accommodations">
	accommodations
</section>
{% endblock %}