{% extends "panel.html.twig" %} 

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags("admin.assignment") }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags("admin.assignment") }}
{% endblock %}

{% block body %}
<section class="assignment">
	ASSIGMNET
</section>
{% endblock %}


