{% extends "admin.html.twig" %} 

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset("/css.admin/reservation.css") }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<section class="assignment">
	reservation
</section>
{% endblock %}