<!DOCTYPE html>
<html>
<head>	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" />
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}
		<link href="{{ asset("css/base.css") }}" rel="stylesheet"/>
	{% endblock %}
</head>
<body>
	{% block header %}
	<header>
	<a href="{{ path('homepage') }}">
		<img class="logo" src="{{ asset('img/logo.png') }}" alt=""/>
	</a>
	</header>
	{% endblock %}
	
	
	{% block nav %}
	<nav>
		<a>Main Page</a>
		<a>Main Page</a>
		<a>Main Page</a>
		<a>Main Page</a>
		<a>Main Page</a>
	</nav>
	{% endblock %}
	
	
	{% block body %}{% endblock %}
	<footer>
		Footer
	</footer>
	{% block javascripts %}{% endblock %}
</body>
</html>
